/******* reset*******/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*/////////// classi utility////////// */
.container
{
    width: 80%;
    margin: auto;
}

.clearfix::after
{
    content: '';
    display: t;
    clear: both;
}

/* visualizzazione con classe debug per colori sezioni */

/* .debug header
{
    height: 450px;
    background-color: blue;
} */

/* .debug main
{
    height: 650px;
    background-color: rgb(178, 178, 216);
}

.debug footer
{
    height: 250px;
    background-color: rgb(75, 75, 80); 
} */

body
{
    /* background-color: rgb(22, 217, 252); */
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

/*******************************************
                 header 
********************************************/

header
{
    background-image: url('../img/background-header.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-y: bottom;
    background-position-x: right;


}

#siteHeder 
{
    color: white;
    background-color: #0C325A;
    height: 900px;
}

.nav_logo               /*set per il logo*/
{
    float: left;
    width: 15%;
    text-align: left;
    margin-top: 10px;
}

.nav_logo > img
{
   width: 70%;
}

.nav_left               /*larghezza nav-bar sx*/
{
    width: 45%;
    float: left;
    text-align: left;
    margin-top: 20px;
}

.nav_right              /*larghezza nav-bar dx*/
{
    width: 40%;
    float: left;
    text-align: right;
    margin-top: 20px;
}

.nav_left > ul > li, .nav_right > ul > li       /*proprietà comuni per le nav bar sx e dx*/
{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    margin: 15px 15px;
    font-size: 20px;
    line-height: 40px;
}

#btn_login              /*/// bottone login ///*/
{
    width: 130px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;

}

#btn_pieno        /*/// bottone struttura un piano   ///*/
{
    background-color: #7CBB02;
    border-radius: 10px;
    padding: 5px;
}

.titolo_heder
{
    position: absolute;
    top: 30%;
    font-size: 3rem;
    text-align: left;
}

.titolo_heder > span
{
    width: 50%;
    display: block;
    margin-top: 60px;
    font-size: 22px;
    text-transform: uppercase;
    padding: 40px;
    border-radius: 10px;
    background: #7CBB02;
    text-align: center;
}

/*************************************
            main 
 ************************************/

#siteMain{
    width: 100%;

}
 /* --------------- riga 100%-------------- */
.sez_row
 {
    float: left;
    width: 100%;
    height: 200px;
    background-color: #D3D3D3;
    vertical-align: middle;
 }

.sez_row > h2
{
    margin-top: 20px;
    line-height: 100px;
    font-size: 2.2rem;
}

.sez_row > p
{
    font-size: 1.5rem;
    color: #808080;
    font-weight: bold;

}

/* -----------------sezione delle 3 colonne 33% */

.treColonne
{
    width: 85%;
    background-color: white;
    margin: auto;
}
/* prop comuni******************* */
.treColonne .hercules
{
    width: 33%;
    height: 700px;
    float: left;
    background: white;
    padding: 25px;
}
/* colonna sinistra************** */
.col_left > h2
{
    margin: 20px 0;
    font-size: 2.1rem;
    color: #7CBB02;
}

.col_left > p
{
    color: #808080;
    font-size: 1.2rem;
    text-align: left;
    line-height: 35px;
    padding: 25px;
    font-weight: 600;
}

.col_left > h2::after
 {
    content: '';
    display: block;
    margin: 40px auto;
    width: 100px;
    border-bottom: 1px solid darkgrey;
 }
/* **************** colonna centrale ******* */
.col_center > h2
{
    margin: 20px 0;
    font-size: 2.1rem;
    color: #7CBB02;
}

.col_center > p
{
    color: #808080;
    font-size: 1.2rem;
    text-align: center;
    line-height: 35px;
    padding: 25px;
    font-weight: 600;
}

.col_center > h2::after
 {
    content: '';
    display: block;
    margin: 40px auto;
    width: 100px;
    border-bottom: 1px solid darkgrey;
 }

 /* *************colonna destra *** */

.col_right > h2
{
    margin: 20px 0;
    font-size: 2.1rem;
    color: #7CBB02;
    text-align: center;
}

.col_right > p
{
    color: #808080;
    font-size: 1.2rem;
    text-align: center;
    line-height: 35px;
    padding: 25px;
    font-weight: 600;

}

 .col_right > h2::after
 {
    content: '';
    display: block;
    margin: 40px auto;
    width: 100px;
    border-bottom: 1px solid darkgrey;
 }

/* sezione delle 2 colonne ************ */
.dueColonne
{
    width: 85%;
    /* height: 800px; */
    background: rgb(255, 255, 255);
    margin: auto;
}

.colonna
{
    width: 50%;
    height: 700px;
    float: left;
 } 

 .dueColonne  .sinistra > img
 {
    width: 60%;
 }

 .dueColonne  .destra > h2
 {
    font-size: 2.5rem;
    text-align: left;
    padding: 50px 50px 5px;
    margin-left: 50px;
    line-height: 50px;
 }

.dueColonne  .destra > p
{
    color: #808080;
    font-size: 1.2rem;
    text-align: left;
    line-height: 30px;
    margin-left: 50px;
    padding: 5px 50px;
    font-weight: 600;
}

.dueColonne  .destra > a
{
    display: block;
    text-align: left;
    margin-left: 50px;
    padding: 15px 50px;
}
/*  **********************footer****** */
.piede
{
    float: left;
    background-color: #d3d3d3;
    width: 100%;
    height: 200px;
}

.testo_footer
{
    float: left;
    width: 30%;
    text-align: left;
    line-height: 200px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 180px;
}

.tipo_select
{
    width: 30%;
    float: left;
    text-align: right;
    font-size: 1.5rem;
    margin: 40px 20px 0;
    font-weight:normal;
    color: #808080;
}

.tipo_select h6::after
{
    content: '';
    display: inline-block;
    border-bottom: 1px solid black;
    width: 50px;
}

.tipo_select > h5, h6
{
    display: inline;
}

.tipo_select h6::after
 {
    content: ' \25BE';
    font-size: 25px
}
 /* bottoni del footer **************** */
.pulsanti
{
    width: 30%;
    float: left;
}

.bott_fot_grande
{
    display: block;
    width: 231px;
    background-color: #7CBB02;
    border-radius: 10px;
    height: 70px;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    margin-top: 40px;
}

.bott_fot_help
{
    background-color: #7CBB02;
    border-radius: 10px;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    text-align: left;
    float: left;
    margin-left: 80px;
}